@font-face {
	font-family: 'GilroyBold';
	src: url(/assets/fonts/Gilroy-ExtraBold.woff2) format('woff2'),
	url(/assets/fonts/Gilroy-ExtraBold.woff) format('woff');
	font-weight: 800;
	font-style: normal;
}